.hero-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  z-index: 1;
  overflow: hidden;
}

/* Overlay */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(71, 10, 10, 0.8);
  z-index: 2;
  opacity: 0.9;
}

/* Ensures children appear above overlay */
.hero-section > * {
  position: relative;
  z-index: 3;
}

/* Bottom-left text */
.hero-text {
  position: absolute;
  bottom: 30px;
  left: 150px;
  margin: 0;
  color: white;
  font-size: 2rem;
  z-index: 3;
}

/* Mobile */
@media (max-width:600px){
 .hero-text{
    position: absolute;
    left: 10px;
    bottom: 80px;
  }
}

/* Tablet */

@media (min-width:601px) and (max-width:900px){
  .hero-text{
    position: absolute;
    left: 30px;
    bottom: 80px;
  }
}